# Ignore everything
*

# But not these files...
!.gitignore
!readme.md
!screenshot-*
!admin/*
!admin/partials/*
!admin/settings/*
!includes/class-plugin-name-option.php
!includes/class-plugin-name.php

index.php
.DS_Store
