# Ignore everything
*

# But not these files...
!.gitignore
!readme.md
!screenshot-*
!admin/class-plugin-name-admin.php
!admin/partials/plugin-name-admin-display.php
!admin/partials/plugin-name-meta-box-display.php
!admin/settings/class-plugin-name-callback-helper.php
!admin/settings/class-plugin-name-meta-box.php
!admin/settings/class-plugin-name-sanitization-helper.php
!admin/settings/class-plugin-name-settings.php
!includes/class-plugin-name-option.php
!includes/class-plugin-name.php
