# Ignore everything
*

# But not these files...
!.gitignore
!readme.md
!screenshot-*
!admin/*.php
!admin/partials/*.php
!admin/settings/*.php
!includes/class-plugin-name-option.php
!includes/class-plugin-name.php

index.php
